* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}
body {
  background-color: #00cec9;
}

.container {
  width: 100vw;
  margin: 30px auto 0 auto;
  text-align: center;
}

.grid {
  background-color: #0984e3;
  border: 4px solid black;
  margin: 0 auto;
  height: 600px;
  width: 720px;
  display: grid;
}

.box {
  border: 1px solid black;
}

.resize {
  font-size: 18px;
  margin-top: 10px;
  background-color: #dfe6e9;
  text-decoration: none;
  box-shadow: none;
  border: 3px solid black;
  border-radius: 20px;
  height: 40px;
  width: 130px;
}

.resize:hover {
  background-color: #b2bec3;
}
